.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
	-fx-cursor: hand;
    -fx-text-fill: #2d3e4c;
}

.button {
	-fx-cursor: hand;
	-fx-padding: 10px;
	-fx-background-color: linear-gradient(to right, #acb6e5, #86fde8);
	-fx-font-size: 20px;
}

#vbox {
	-fx-background-color: rgb(42, 55, 63);
}

#stepBtn {
	-fx-translate-y: 10px;
}

#canvas {
	-fx-background-color: white;
	-fx-min-width: 100%;
	-fx-min-height: 300px;
	-fx-translate-y: 20px;
}

#test {
	-fx-background-color: pink;
}

#homeSceneLabel {
	-fx-font-size: 24px;
}

#homeSceneBtn {
	-fx-padding: 30px;
	-fx-font-size: 20px;
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}